---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import WhatsApp from "../icons/WhatsApp.astro";
import Principal from "../components/Principal.astro";
import Popular from "../components/Popular.astro";
---

<Layout title="Detalles Magicos">
  <main class="mx-44 my-10">
    <Principal/>
		<Popular/>
  </main>
</Layout>
