---


---

<header class="w-full h-full flex items-center bg-[#f5daf6] p-3">
  <div class=" w-1/2 h-full flex justify-center items-center">
    <img 
  class="rounded-full w-12 h-12"
  src="/src/assets/logo.jpg" 
  alt="johguxo-img" />
  </div>
  <ul class="w-1/2 h-full  justify-center items-center flex">
    <li class="mx-4">
      <a class="text-lg" href="#">
        Acerca de
      </a>
    </li>
    <li class="mx-4">
      <a class="text-lg" href="#">
        Ofertas
      </a>
    </li>
    <li class="mx-4">
      <a class="text-lg" href="#">
        Delivery
      </a>
    </li>
  </ul>
</header>

<style>
	a:hover {
		font-weight: bold;
	}
</style>