---
import { Image } from "astro:assets";
import imageGift from "../assets/gift-3.png"

---

<section class="bg-[#a8aaff] rounded-md p-7 flex gap-x-3">
  <div class="mx-10 flex-1 w-1/2 content-center">
    <h1 class="text-black text-5xl font-extrabold">
      Encuentra los <span class="text-[#9500a9]">mejores regalos</span> a los
      mejores precios
    </h1>
    <p class="text-xl text-slate font-light leading-relaxed mt-4">
      Somos quienes convierten tus sueños en realidad, tus mejores regalos y
      detalles para tu persona favorita 💕
    </p>
    <!-- <div class="my-10 flex gap-x-2">
        <div class="flex-column mr-4">
          <p class="text-xl font-semibold">30+</p>
          <p>modelos</p>
        </div>
        <div class="border-l-black border-l-2 flex-column px-5">
          <p class="text-xl font-semibold">20+</p>
          <p>ofertas</p>
        </div>
      </div>
      <div class="rounded-lg bg-white p-3 gap-x-2 flex flex-row">
        <div class="bg-[#9dfce4] rounded-lg p-1"><WhatsApp class="size-6"/></div>
        <p class="text-gray-400">Que es lo que buscas?</p>
      </div>-->
    <div class="w-full flex items-center justify-start mt-8">
      <button
        class="bg-indigo-800 flex items-center justify-evenly text-white px-8 py-3 rounded-full w-52 mr-4 hover:bg-orange-300 hover:text-slate-900"
      >
        Ordenar
      </button>
    </div>
  </div>
  <div class="flex w-1/2 justify-center items-center m-auto">
    <Image width={500} height={500} src={imageGift} alt="image-gift"/>
  </div>
</section>