---
interface Props {
  name: string;
	image: string;
  price: number;
  priceDiscount: number;
}

const { image, name, price, priceDiscount } = Astro.props;
---

<div>
  <img class="rounded-lg bg-[#9dfce4] size-40" src={ image }></img>
  <h3 class="text-sm font-bold">{ name }</h3>
  <p class="text-lg"><span class="line-through">S./ {price}</span> <span class="font-semibold">S./ {priceDiscount}</span></p>
</div>