<div class="mx-10 my-2 flex flex-row justify-between items-center">
  <div>
    <h1 class="text-[#7879F1]">Detalles Magic</h1>
  </div>
  
  <nav role="menu">
    <ul class="flex flex-row gap-2 text-center">
      <li><a class="font-bold text-lg" href="#home">Home</a></li>
      <li><a class="font-bold text-lg">Modelos</a></li>
      <li><a class="font-bold text-lg">Ofertas</a></li>
    </ul>
  </nav>
</div>